<!--<ul *ngIf="listaProcesos">
  <li *ngFor="let pro of listaProcesos">
    , , 
</ul>-->

<table>
  <thead>
    <tr>
      <th><strong>ID</strong></th>
      <th><strong>Puesto</strong></th>
      <th><strong>Descripcion</strong></th>
      <th><strong>Cliente</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of listaProcesos">
      <td>{{pro.idProceso}}</td>
      <td class="text-primary"><strong>{{pro.nombre}}</strong></td>
      <td>{{pro.descripcion}}</td>
      <td class="text-success"><strong>{{pro.cliente}}</strong></td>
    </tr>
    <br />
  </tbody>
</table>
